h1= title
h2= name
p Welcome to #{title}
p i love express
div#someid
    div.eins something strange in this div
    div.eins another one
    div
        p  more... 
            |  and even more
            br/
            br
            | so it went..


h4 this: index.jade